@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root{
  --primary-white: #fff;
  --secondary-orange: orange;
  --third:blue;

}


body{
  font-family: "Roboto Condensed" sans-serif;
}

.logo{
  width: 5rem;
}

nav a.navlink{
  font-size: .8rem;
  letter-spacing: 0.3rem;
  cursor: pointer;  
  
}

nav ul li a:hover{
  transform: 0.3s;
  border-top: 0.18rem solid var(--primary-white);
}

nav ul li a:focus{
  
  border-top: 0.18rem solid var(--secondary-orange);
}

.nav-item{
  text-transform: uppercase;
}

.navbar-nav > li > a{

  margin-left: 0.7rem;
  margin-right: 0.7rem;
  color: var(--primary-white) !important;
}


 /* .navbar-brand{ 
    max-width: 12 .25rem;
    padding: 0 !important;
    height: 6rem !important;
}*/


.font{
  color: white;
}